<template>
    <div>
        <h1 style={{..className}}>{{message}}</h1>
        <h1>{{this.newMessage}}</h1>
    </div>
</template>

<script>
    export default {
        data(){ //popoxakkaneri haytararman tex ev html um hasaneli en
            return {
                message: null,
                message2: 'I`m programmer',
                className: 'color:red'
            }
        },
        mounted() { //ashxatum e menak onLoadi jamanak
                this.changeMessage();
                console.log(this.newMessage)
        },
        methods : {
            changeMessage(){
                this.message = 'hello';
                setTimeout(() => {
                    this.message += ' world'
                }, 2000)
            }
        },
        computed : { //ashxatum e getteri pes
            newMessage(){
                return this.message + ' ' + this.message2;
            }
        }
    }
</script>

<style scoped>

</style>
