$cell-size: 20px;
$cell-border: 1px solid;
#game-block {
    padding: 25px 50px;
    .row {
        display: flex;
        .cell {
            width: $cell-size;
            height: $cell-size;
            border: $cell-border;
            &.food{
                background: #1d643b;
            }
            &.body {
                background-color: black;
                &.head {
                    background-color: red;
                }
            }
        }
    }
}
